$color: #161eac;

.header {
  height: 200px;
  background-color: #336b5d;
}

.footer {
  height: 200px;
  background-color: #cc4100;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
